*{justify-content: center;}
h1 {text-align: center;
color: white;
background-color: red;}
p {color: white; background-color: green;}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security